.hero_two {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 934px;
  background-color: lightpink;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(167, 232, 189, 0.6)), to(rgba(167, 232, 189, 0.6))), url(../images/recipe-hero.jpg);
  background-image: linear-gradient(rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .tagline {
  position: absolute;
  width: 290px;
  height: 32px;
  top: 165px;
  left: 300px;
}
.hero_two .tagline h2 {
  font-family: caveat_bold;
  font-size: 25px;
  text-align: left;
  letter-spacing: 2.5px;
  color: #000;
  opacity: 1;
}
.hero_two .row_one {
  position: absolute;
  width: 1180px;
  height: 263px;
  margin-top: 240px;
  margin-left: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.hero_two .row_one .rec_one {
  position: relative;
  width: 524px;
  height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_two .row_one .rec_one .pizza_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-pizza.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_one .desc_one {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_one .rec_one .desc_one h2 {
  position: relative;
  width: 140px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_one .rec_one .desc_one p {
  position: relative;
  width: 150px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 60px;
}
.hero_two .row_one .rec_one .desc_one .serve {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_one .rec_one .desc_one .serve .ico_piz {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_one .desc_one .serve h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_one .rec_one .desc_one .cook {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_one .rec_one .desc_one .cook .ico_piz {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_one .desc_one .cook h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_one .rec_two {
  position: relative;
  width: 524px;
  height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_two .row_one .rec_two .burger_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-burger.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_two .desc_two {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_one .rec_two .desc_two h2 {
  position: relative;
  width: 140px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_one .rec_two .desc_two p {
  position: relative;
  width: 180px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 50px;
}
.hero_two .row_one .rec_two .desc_two .serve2 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_one .rec_two .desc_two .serve2 .ico_bur {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_two .desc_two .serve2 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_one .rec_two .desc_two .cook2 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_one .rec_two .desc_two .cook2 .ico_bur {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_two .desc_two .cook2 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two {
  position: absolute;
  width: 1180px;
  height: 263px;
  margin-top: 300px;
  margin-left: -620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.hero_two .row_two .rec_three {
  position: relative;
  width: 524px;
  height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_two .row_two .rec_three .cb_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-pilaf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_three .desc_three {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_two .rec_three .desc_three h2 {
  position: relative;
  width: 156px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_two .rec_three .desc_three p {
  position: relative;
  width: 150px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 60px;
}
.hero_two .row_two .rec_three .desc_three .serve3 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_two .rec_three .desc_three .serve3 .ico_cb {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_three .desc_three .serve3 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two .rec_three .desc_three .cook3 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_two .rec_three .desc_three .cook3 .ico_cb {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_three .desc_three .cook3 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two .rec_four {
  position: relative;
  width: 524px;
  height: 263px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_two .row_two .rec_four .ccm_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-chowmein.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_four .desc_four {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_two .rec_four .desc_four h2 {
  position: relative;
  width: 140px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_two .rec_four .desc_four p {
  position: relative;
  width: 180px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 50px;
}
.hero_two .row_two .rec_four .desc_four .serve4 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_two .rec_four .desc_four .serve4 .ico_ccm {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_four .desc_four .serve4 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two .rec_four .desc_four .cook4 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero_two .row_two .rec_four .desc_four .cook4 .ico_ccm {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_four .desc_four .cook4 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}