* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: caveat_regular;
  src: url(../css/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: caveat_bold;
  src: url(../css/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: lato_regular;
  src: url(../css/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: lato_bold;
  src: url(../css/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: lato_italic;
  src: url(../css/fonts/Lato-Italic.ttf);
}
.hero {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 934px;
  background-color: palevioletred;
  background-image: linear-gradient(rgba(242, 92, 84, 0.6), rgba(242, 92, 84, 0.6)), url(../images/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 250px;
  height: 55px;
  top: 40px;
  left: 40px;
}

.top_banner {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.circs {
  position: absolute;
  top: 240px;
  left: 50%;
}
.circs .circOne {
  position: absolute;
  width: 168px;
  height: 168px;
  background-color: #FCBCB8;
  border-radius: 50%;
}
.circs .circOne p {
  position: relative;
  width: 106px;
  height: 38px;
  font-family: lato_italic;
  font-size: 12px;
  top: 60px;
  left: 40px;
}
.circs .circTwo {
  position: absolute;
  width: 358px;
  height: 358px;
  background-color: #FFD972;
  right: -100px;
  top: 80px;
  border-radius: 50%;
}
.circs .circTwo h2 {
  position: relative;
  left: 120px;
  top: 100px;
  font-family: caveat_bold;
  font-size: 32px;
}
.circs .circTwo p {
  position: relative;
  width: 166px;
  height: 100px;
  left: 100px;
  top: 110px;
  text-align: center;
  font-family: lato_regular;
  font-size: 13px;
}

.nav_log {
  width: 600px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav_log nav {
  width: 350px;
  height: 32px;
  display: flex;
  justify-content: right;
}
.nav_log nav a {
  padding: 0 16px;
  font-family: caveat_regular;
  font-size: 25px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}
.nav_log .login {
  width: 158px;
  height: 52px;
  background-color: #FFD972;
  border-radius: 22px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.nav_log .login a {
  font-family: caveat_regular;
  font-size: 32px;
  text-decoration: none;
  color: #000;
}

footer {
  width: 100%;
  height: 80px;
}
footer .copy {
  position: relative;
  width: 266px;
  height: 18px;
  left: 60px;
  top: 30px;
}
footer .copy h2 {
  font-family: lato_italic;
  font-size: 16px;
  color: #000;
}
footer .links {
  position: relative;
  width: 720px;
  height: 18px;
  top: 12px;
  left: 700px;
  display: flex;
  justify-content: space-between;
}
footer .links a {
  position: relative;
  font-family: lato_italic;
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0 6px;
}
footer .iconsOne {
  position: relative;
  width: 100px;
  height: 30px;
  top: -6px;
  left: 1600px;
  display: flex;
  justify-content: space-between;
}
footer .iconsOne .fb {
  height: 30px;
  width: 30px;
  background-image: url(../images/facebook.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
footer .iconsOne .insta {
  height: 30px;
  width: 30px;
  background-image: url(../images/instagram.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_two {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 934px;
  background-color: lightpink;
  background-image: linear-gradient(rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .tagline {
  position: absolute;
  width: 290px;
  height: 32px;
  top: 165px;
  left: 300px;
}
.hero_two .tagline h2 {
  font-family: caveat_bold;
  font-size: 25px;
  text-align: left;
  letter-spacing: 2.5px;
  color: #000;
  opacity: 1;
}
.hero_two .row_one {
  position: absolute;
  width: 1180px;
  height: 263px;
  margin-top: 240px;
  margin-left: 260px;
  display: flex;
  justify-content: space-around;
}
.hero_two .row_one .rec_one {
  position: relative;
  width: 524px;
  height: 263px;
  display: flex;
}
.hero_two .row_one .rec_one .pizza_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-pizza.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_one .desc_one {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_one .rec_one .desc_one h2 {
  position: relative;
  width: 140px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_one .rec_one .desc_one p {
  position: relative;
  width: 150px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 60px;
}
.hero_two .row_one .rec_one .desc_one .serve {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_one .rec_one .desc_one .serve .ico_piz {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_one .desc_one .serve h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_one .rec_one .desc_one .cook {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_one .rec_one .desc_one .cook .ico_piz {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_one .desc_one .cook h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_one .rec_two {
  position: relative;
  width: 524px;
  height: 263px;
  display: flex;
}
.hero_two .row_one .rec_two .burger_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-burger.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_two .desc_two {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_one .rec_two .desc_two h2 {
  position: relative;
  width: 140px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_one .rec_two .desc_two p {
  position: relative;
  width: 180px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 50px;
}
.hero_two .row_one .rec_two .desc_two .serve2 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_one .rec_two .desc_two .serve2 .ico_bur {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_two .desc_two .serve2 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_one .rec_two .desc_two .cook2 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_one .rec_two .desc_two .cook2 .ico_bur {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_one .rec_two .desc_two .cook2 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two {
  position: absolute;
  width: 1180px;
  height: 263px;
  margin-top: 300px;
  margin-left: -620px;
  display: flex;
  justify-content: space-around;
}
.hero_two .row_two .rec_three {
  position: relative;
  width: 524px;
  height: 263px;
  display: flex;
}
.hero_two .row_two .rec_three .cb_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-pilaf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_three .desc_three {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_two .rec_three .desc_three h2 {
  position: relative;
  width: 156px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_two .rec_three .desc_three p {
  position: relative;
  width: 150px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 60px;
}
.hero_two .row_two .rec_three .desc_three .serve3 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_two .rec_three .desc_three .serve3 .ico_cb {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_three .desc_three .serve3 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two .rec_three .desc_three .cook3 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_two .rec_three .desc_three .cook3 .ico_cb {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_three .desc_three .cook3 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two .rec_four {
  position: relative;
  width: 524px;
  height: 263px;
  display: flex;
}
.hero_two .row_two .rec_four .ccm_pic {
  width: 300px;
  height: 263px;
  background-color: aqua;
  border-radius: 24px;
  background-image: url(../images/recipe-chowmein.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_four .desc_four {
  position: relative;
  width: 300px;
  height: 263px;
  background-color: #fff;
  border-radius: 24px;
}
.hero_two .row_two .rec_four .desc_four h2 {
  position: relative;
  width: 140px;
  height: 24px;
  font-family: lato_regular;
  text-transform: capitalize;
  font-size: 15px;
  text-align: left;
  letter-spacing: 1.5px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 40px;
  border-bottom: 4px solid #000;
}
.hero_two .row_two .rec_four .desc_four p {
  position: relative;
  width: 180px;
  height: 55px;
  font-family: lato_regular;
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.9px;
  color: #000;
  opacity: 1;
  margin: 0 auto;
  top: 50px;
}
.hero_two .row_two .rec_four .desc_four .serve4 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 90px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_two .rec_four .desc_four .serve4 .ico_ccm {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/time.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_four .desc_four .serve4 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}
.hero_two .row_two .rec_four .desc_four .cook4 {
  position: relative;
  width: 120px;
  height: 26px;
  margin: 0 auto;
  top: 100px;
  display: flex;
  justify-content: space-between;
}
.hero_two .row_two .rec_four .desc_four .cook4 .ico_ccm {
  position: relative;
  width: 26px;
  height: 26px;
  background-image: url(../images/servings.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero_two .row_two .rec_four .desc_four .cook4 h4 {
  position: relative;
  width: 66px;
  height: 26px;
  font-family: lato_regular;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #000;
  opacity: 1;
  text-align: center;
  top: 10px;
}

.hero_three {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 934px;
  background-color: #FFD972;
}
.hero_three .inputs {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  display: flex;
  justify-content: space-around;
}
.hero_three .inputs .log_in {
  position: relative;
  width: 233px;
  height: 400px;
  z-index: 10000;
}
.hero_three .inputs .log_in .ltag {
  position: absolute;
  width: 180px;
  height: 26px;
  top: 60px;
}
.hero_three .inputs .log_in .ltag h2 {
  font-size: 30px;
  font-family: lato_regular;
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
  color: #000;
}
.hero_three .inputs .log_in .lemail {
  position: absolute;
  top: 120px;
}
.hero_three .inputs .log_in .lemail input {
  width: 240px;
  height: 34px;
  border-style: none;
  border-bottom: 2px solid #000;
  background-color: #FFD972;
}
.hero_three .inputs .log_in .lemail input ::placeholder {
  color: #000;
  font-family: lato_regular;
}
.hero_three .inputs .log_in .lpword {
  position: absolute;
  top: 170px;
}
.hero_three .inputs .log_in .lpword input {
  width: 240px;
  height: 34px;
  border-style: none;
  border-bottom: 2px solid #000;
  background-color: #FFD972;
}
.hero_three .inputs .log_in .lpword input ::placeholder {
  color: #000;
  font-family: lato_regular;
}
.hero_three .inputs .log_in .login #lbtn {
  width: 158px;
  height: 52px;
  background-color: #FFD972;
  border-radius: 22px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 230px;
}
.hero_three .inputs .log_in .login #lbtn a {
  font-family: caveat_regular;
  font-size: 32px;
  text-decoration: none;
  color: #000;
}
.hero_three .inputs .sign_up {
  width: 233px;
  height: 400px;
}
.hero_three .inputs .sign_up .stag {
  width: 150px;
  height: 16px;
  top: 60px;
}
.hero_three .inputs .sign_up .stag h4 {
  position: relative;
  font-size: 12px;
  font-family: lato_italic;
  text-align: left;
  text-transform: lowercase;
  font-weight: bold;
  color: #000;
  top: 18px;
}
.hero_three .inputs .sign_up .stag h2 {
  font-size: 20px;
  font-family: lato_regular;
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
  color: #000;
}
.hero_three .inputs .sign_up .in_boxes {
  position: relative;
  width: 233px;
  height: 200px;
  display: inline-block;
  justify-content: space-evenly;
  top: 60px;
}
.hero_three .inputs .sign_up .in_boxes .fn input {
  width: 240px;
  height: 34px;
  border-style: none;
  border-bottom: 2px solid #000;
  text-align: left;
  background-color: #FFD972;
}
.hero_three .inputs .sign_up .in_boxes .fn input ::placeholder {
  color: #000;
  font-family: lato_regular;
}
.hero_three .inputs .sign_up .in_boxes .ln {
  margin-top: 20px;
}
.hero_three .inputs .sign_up .in_boxes .ln input {
  width: 240px;
  height: 34px;
  border-style: none;
  border-bottom: 2px solid #000;
  background-color: #FFD972;
}
.hero_three .inputs .sign_up .in_boxes .ln input ::placeholder {
  color: #000;
  font-family: lato_regular;
}
.hero_three .inputs .sign_up .in_boxes .ea {
  margin-top: 20px;
}
.hero_three .inputs .sign_up .in_boxes .ea input {
  width: 240px;
  height: 34px;
  border-style: none;
  border-bottom: 2px solid #000;
  background-color: #FFD972;
}
.hero_three .inputs .sign_up .in_boxes .ea input ::placeholder {
  color: #000;
  font-family: lato_regular;
}
.hero_three .inputs .sign_up .in_boxes .pw {
  margin-top: 20px;
}
.hero_three .inputs .sign_up .in_boxes .pw input {
  width: 240px;
  height: 34px;
  border-style: none;
  border-bottom: 2px solid #000;
  background-color: #FFD972;
}
.hero_three .inputs .sign_up .in_boxes .pw input ::placeholder {
  color: #000;
  font-family: SegoeUi;
}
.hero_three .inputs .sign_up .signup #sbtn {
  width: 158px;
  height: 52px;
  background-color: #FFD972;
  border-radius: 22px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 80px;
}
.hero_three .inputs .sign_up .signup #sbtn a {
  font-family: caveat_regular;
  font-size: 32px;
  text-decoration: none;
  color: #000;
}

#create-title {
  font-family: lato_regular;
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto;
  width: 77%;
  max-width: 980px;
  margin-top: 100px;
}

#addRecipe-container {
  margin: 0 auto;
  min-height: 100vh;
  width: 77%;
  max-width: 980px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 60px;
}
#addRecipe-container #final-submit {
  max-width: 420px;
  width: 50%;
  height: 52px;
  background-color: #EFA7A7;
  border-radius: 22px;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  text-align: center;
  font-family: lato-regular;
  font-size: 25px;
  border: none;
  cursor: pointer;
}
#addRecipe-container .recipe-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  min-height: 480px;
  margin-bottom: 60px;
  position: relative;
}
#addRecipe-container .recipe-section .addBtn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFA7A7;
  color: white;
  border-radius: 100%;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 100px;
  right: 5px;
  user-select: none;
}
#addRecipe-container .recipe-section input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
  padding: 5px;
  font-size: 20px;
  font-family: lato-regular;
}
#addRecipe-container .enter-section {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 20px;
}
#addRecipe-container .enter-section h3 {
  font-family: lato-regular;
  font-size: 20px;
  margin-bottom: -40px;
}

/*# sourceMappingURL=styles.css.map */
