.hero_three {
    width: 100%;
    height: 934px;
    background-color: #FFD972;

    .sign_in {
        position: absolute;
        width: 220px;
        height: 400px;
        background-color: lightgreen;
        left: 380px;
        top: 200px;
    }
}

